{% extends 'base.html.twig' %}

{% block title %}To D List{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center container">

        {% if todo %}

            <div class="col-md-4">
                {% for label, messages in app.flashes(['success', 'warning']) %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <h4>Membre :{{ todo.getUser().getFirstname() }} {{ todo.getUser().getLastname() }}</h4>

                <div class="card-hover-shadow-2x mb-3 card">
                    <div class="card-header-tab card-header">
                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal mr-4" ><i
                                    class="fa fa-tasks"></i>&nbsp;{{ todo.getName() }}
                        </div>

                        <div class="widget-subheading">
                            <i>( {{ todo.getCreatedAt() ?  todo.getCreatedAt()|date('H:i:s d-m-Y  ') : '' }} )</i>
                        </div>

                    </div>
                    <div class="scroll-area-sm">
                        <perfect-scrollbar class="ps-show-limits">
                            <div style="position: static;" class="ps ps--active-y">
                                <div class="ps-content">
                                    <ul class=" list-group list-group-flush">
                                        {% for item in todo.getItems() %}

                                        <li class="list-group-item">
                                            <div class="todo-indicator bg-warning"></div>
                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left mr-2">
                                                        <div class="custom-checkbox custom-control"><input
                                                                    class="custom-control-input"
                                                                    id="exampleCustomCheckbox12" type="checkbox"><label
                                                                    class="custom-control-label"
                                                                    for="exampleCustomCheckbox12">&nbsp;</label></div>
                                                    </div>
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">
                                                            {{ item.getName() }}
                                                        </div>
                                                        <div class="widget-heading">
                                                            Description: {{ item.getContent }}
                                                        </div>
                                                        <div class="widget-subheading">
                                                            <i>{{ item.getCreatedAt() ?  item.getCreatedAt()|date('H:i:s d-m-Y  ') : '' }}</i>

                                                            <div class="badge badge-pill badge-info ml-2">NEW</div>

                                                        </div>
                                                    </div>
                                                    <div class="widget-content-right">
                                                        <button class="border-0 btn-transition btn btn-outline-success">
                                                            <i class="fa fa-check"></i></button>
                                                        <button class="border-0 btn-transition btn btn-outline-danger">
                                                            <i class="fa fa-trash"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </perfect-scrollbar>
                    </div>

                    <div class="d-block text-right card-footer">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>

                <div class="px-2 ">

            </div>
        {% endif %}


    </div>
    <script type="text/javascript"></script>
{% endblock %}
